# CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax
# Order is important; the last matching pattern takes the most
# precedence.

* @carlescufi

# Root folder
/VERSION                                  @rlubos
/ncs_version.h.in                         @carlescufi
/LICENSE                                  @jukkar
/README.rst                               @carlescufi
/west.yml                                 @rlubos


# Invividual folders
drivers/**				  @ncs-co-drivers
doc/					  @jukkar
zephyr/                                   @carlescufi

drivers/entropy/**			  @57300

# Global overrides
*.rst                                     @gmarull
CMakeLists.txt				  @tejlmand
**/bindings/				  @jukkar
/cmake/					  @tejlmand



