# Copyright (c) 2018 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
# Yet another test commit

menu "Networking"

rsource "lib/Kconfig"
rsource "openthread/Kconfig"

endmenu
