name: AI reviewer

permissions:
  contents: read
  pull-requests: write

on:
  pull_request_target:
    types: [opened, reopened, synchronize, review_requested]
    # 'opened' and 'synchronize' events are required to trigger this
    # workflow when GitHub automatically assigns NordicBuilder as reviewer via CODEOWNERS file.

jobs:
  review_full:
    # if: contains(github.event.pull_request.requested_reviewers.*.login, 'Nordicbuilder')
    runs-on: ubuntu-24.04
    steps:
      - name: Full PR Diff Review
        uses: nrfconnect/action-ai-reviewer@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          IGNORE_PATTERNS: /placeholder
          INCLUDE_PATTERNS: "*.*"
